*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    padding: 1px;
    background-image: url("./images/travale-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-x: hidden;
}
nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
    background-color: rgba(34, 31, 31, 0.151);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav .logo img{
    width: 60px;
}
.logo h1{
    color: white;
}
nav ul{
    display: flex;
    gap: 100px;
    list-style-type: none;
}
nav ul li a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}
nav .sign-in{
    background-color: rgba(255, 0, 0, 0.89);
    padding: 5px 40px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
nav .sign-in a{
    text-decoration: none;
    color: black;
}

.page1{
    width: 100%;
    height: 100vh;
    padding: 1px;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
}
.page1 .left{
    width: 50%;
    height: 90%;
    padding-top: 200px;
    padding-left: 100px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
}
.page1 .left h3{
    color: rgb(202, 0, 0);
    font-weight: 700;
}
.page1 .left h1{
    letter-spacing: 0.08em;
    font-size: 40px;
}
.page1 .left .button{
    background-color: rgb(255, 0, 0);
    color: black;
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.page1 .left .button:active{
    opacity: 0.8;
}
.right{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .inner-div{
    margin-top: 100px;
    background: linear-gradient(to bottom right , rgba(255, 0, 0, 0.801),rgba(255, 0, 0, 0))
}
.right .inner-div img{
    width: 450px;
}

/* -------------------- PAGE 2   -------------------------- */



.page2{
    width: 100%;
    /* height: 90vh; */
    padding: 40px 50px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page2 h1{
    /* text-align: center; */
    /* margin-top: 40px; */
    margin-bottom: 10px;
    color: black;
}
.protein-section1{
    width: 100%;
    height: 100%;
    /* background-color: rgb(31, 18, 18); */
    display: flex;
    gap: 10px;
}
.protein-section1 .protein{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.protein:hover{
    height: 453px;
    box-shadow: 0px 0px 10px 1px gray;
}
.protein-section1 .protein .image-div{
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.protein-section1 .protein .image-div img{
    width: 70%;
    transition: 0.2s;
}
.protein:hover .image-div > img{
    width: 75%;
}
.protein-section1 .protein .detail-div{
    width: 100%;
    height: 50%;
    border: 1px solid rgba(161, 161, 161, 0.493);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.detail-div h3{
    margin-top: 20px;
}
.detail-div .membership{
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    color: rgb(184, 181, 0);
    background-color: rgb(226, 226, 226);
    text-align: center;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
    
}
.detail-div button{
    padding: 12px ;
    border-radius: 10px;
    border: 1px solid rgb(160, 172, 0);
    color: rgb(115, 117, 0);
    font-size: 15px;
    cursor: pointer;

}
.protein:hover  .detail-btn{
    background-color: rgb(252, 208, 152);
    color: black;
}

/* ------------------------------------------------------------- */

.page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}
.page3 .heading{
    width: 100%;
    height: 25vh;
    background-color: rgb(56, 56, 56);
    text-align: center;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
.page3 .heading h1{
    font-size: 40px;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.plans{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    padding: 30px 70px;
    border-radius: 10px;
}
.plans:hover{
    box-shadow: 0px 0px 20px 1px rgba(204, 204, 204, 0.671);
}
.plans button{
    width: 100px;
    padding: 10px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 5px;
    color: white;
}
.plans button:hover{
    opacity: 0.8;
}
.contact{
    width: 100%;
    padding: 30px 180px;
    background-color: rgb(245, 245, 245);
}
.contact .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.contact .form input{
    padding: 15px;
    display: block;
    color: gray;
    border-radius: 5px;
    border: 1px solid gray;

}
.contact .form #message{
    padding: 25px;
}
.contact .form input[type = "submit"]{
    background-color: rgb(36, 36, 36);
    color: white;
}
.contact .form input[type = "submit"]:active{
    opacity: 0.8;
}


/* --------------------------------------------------------------- */



.footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 30px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    width: 23%;
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer-section p,
  .footer-section ul {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-section ul {
    padding-left: 0;
    list-style-type: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #1abc9c;
  }
  
  .social-icons {
    padding-left: 0;
    list-style-type: none;
  }
  
  .social-icons li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-icons li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons li a:hover {
    color: #1abc9c;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #34495e;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 0;
  }

