@media (min-width: 360px) and (max-width: 600px) {

    nav > ul , nav > .btn{
        display: none;
    }
    nav{
        width: 100vw;
        height: 10vh;
        background-color: cadetblue;
    }

    


    /* ============== Page 1 ====================== */


    .page1-wrapper > .page1-content{
     
        width: 100vw;
        
    }
    .page1-wrapper{
        width: 100%;
    }
    .page1-wrapper > .page1-content h1{
        width: 100vw;
        font-size: 4rem;
        
     }
  
    /* CSS */
    
  }
