*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #060606;
}


header{
    width: 100vw;
}


header > nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 10;
    /* background-color:black; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header > nav > .menu > ul {
    list-style: none;
    display: flex;
    gap: 8%;

}
header > nav >.menu-icon{
    color: white;
    display: none;
    
}
header > nav > .menu > ul > li{
    font-size: 1.3rem;
}
header > nav > .menu > ul > li:hover{
    color:#F58650; 
    cursor: pointer;


}

/* ====================== PAGE 1 ========================== */

.page1{
    width: 100vw;
    height: 80%;
    /* background-color: yellow; */
   
   
}
.page1-wrapper{
    position: relative;
    width: 100%;
    
}
.page1 > .page1-wrapper > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.page1 > .page1-wrapper > .page1-content{
     position: absolute;
     right: 15%;
     top: 50%;
     /* z-index: 10; */
    
}
.page1 > .page1-wrapper > .page1-content P{
    color: gray;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.25em;
}
.page1 > .page1-wrapper > .page1-content h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.2em;
}


/* ================================ PAGE 2 ============================= */
.PAGE2{
    width: 100vw;
   
}

.page2-wrapper{
    width: 60%;
    display: flex;
    margin-left: 25%;
    gap: 7%;
   
   
}
.page2-right > h1:first-child{
    color: white;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.page2-right > h2{

    font-size: 2.5rem;
    font-weight: 300;

}
.page2-right  p{
    color: white;
    font-size: 1.2rem;
   margin-top: 3%;
}


/* ================================ PAGE 3============================= */

.page3{
    width: 100vw;
}
.page3 > .page3-wrapper{
    display: flex;
    gap: 3.5%;
    justify-content: center;
    margin: 2% 0;
}
.page3 > .page3-wrapper > .card{
    width: 17rem;
    height: 14rem;
    background-color:#1b1a1a;
    text-align: center;
    color: white;

}

.page3 > .page3-wrapper > .card > .img, .card > .numb , .card > .para{
      margin: 2.5%;
      /* font-size: 5rem; */

}
.page3 > .page3-wrapper > .card > .img{

    font-size: 6rem;
}
.page3 > .page3-wrapper > .card > .numb > h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.page3 > .page3-wrapper > .card > .para > p{
    font-size: 2rem;
}


/* ========================= PAGE 4 ======================== */

.page4{
    width: 100vw;
    display: flex;
    justify-content: center;

}
.page4 >.page4-wrapper{
    background-color: yellow;
    width: 70%;
    position: relative;
    



}
.page4 >.page4-wrapper > .video {
   

}
.page4 >.page4-wrapper > .video > .fillter{
    position: absolute;
    background-color:transparent;
    width: 100%;
    height: 100%;
    /* z-index: 5; */
    top: 0;
    background: rgba( 14, 14, 14, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.page4 >.page4-wrapper > .video > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page4 >.page4-wrapper > .video{
    


}